.editProfile {
  margin-top: 20vh;
  font-family: reg;
}

.editProfile_img {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto;
  width: 50%;
}

.editProfile_img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}
